.widget-send-message {
  .rs-form-group {
    flex: 1 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;
    .rs-form-control-wrapper {
      flex: 1 0;
    }
  }

  .key-hint {
    color: #999999;
    display: inline-block;
  }
}